.navbar {
  background: #222;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #fff;
  margin-left: 1rem;
  font-weight: bold;
}

.navbar a:hover {
  color: #ff9800;
}
